#
# rpitx project
#

# Object files
*.o

# CSDR
/csdr/

# librpitx
/scr/librpitx/

#Others files
/src/pifmrds/rds_wav
/corel8
/foxhunt
/freedv
/morse
/pichirp
/pifmrds
/pift8
/piopera
/pocsag
/sendiq
/sendook
/spectrumpaint
/tune
/piam
/pidcf77
/pifm
/pifsq
/pissb
/pisstv
/rpitx
